.fade-overlay {
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    height: 390px; /* Adjust the height of the fade effect */
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0), rgb(28, 28, 28));
    pointer-events: none; /* Ensure the overlay doesn't interfere with clicks on the iframe */
  }